#root {
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-color: #4f76da;
  padding: 40px 100px 0px 100px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  height: 100%;
  width: 100%;
}

a {
  text-decoration-line: none;
}

.html {
  scroll-behavior: smooth;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 48px;
  font-family: "ClimateCrisisKorean";
  font-weight: 900;
  color: white;
}

.header-right-handle-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-searchicon {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}
.header-loginbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 44px;
  border-radius: 15px;
  background-color: white;
  color: black;
  font-size: 15px;
}
.header-wrapper-for-line {
  width: 100%;
  justify-content: center;
}
.header-line {
  width: 100%;
  height: 2px;
  background-color: white;
  margin: 30px 0px;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.sort-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}
.sort-icon {
  width: 40px;
  height: 40px;
}
.sort-classify {
  font-size: 20px;
  color: white;
}
.main-content-wrapper-foralign {
  display: flex;
  justify-content: center;
}

.content-table-wrapper {
  width: calc(100% - 50px);
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4개씩 한 줄 */
  row-gap: 30px;
  column-gap: 60px;
}

.content-wrapper {
  background-color: white;
}

.content-box {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.image-wrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 6px;
  background: #000;
}

.content-preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-preview-content-wrapper {
  flex: 1;
  display: flex;
  align-items: start;
  padding: 3px 10px 0px 10px;
  flex-direction: column;
}

.content-title {
  color: black;
  font-size: 14px;
  margin-bottom: 4px;
}
.content-desc {
  color: black;
  font-size: 12px;
  font-family: "Pretendard";
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
